{{- $css := resources.Get "css/main.css" | resources.Minify | resources.Fingerprint -}}
<!doctype html>
<html lang="{{ .Site.Language.Lang | default " en" }}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ if .IsHome }}IRCC — Incident Response Chaos Club{{ else }}{{ .Title }} — IRCC{{ end }}</title>
    <meta name="description"
        content="{{ with .Params.description }}{{ . }}{{ else }}IRCC — DFIR research & posts.{{ end }}">
    <link rel="icon" href="{{ " assets/ircc-logo.png" | relURL }}">

    {{ if and .IsPage (isset .Params "external") }}
    <meta http-equiv="refresh" content="0; url={{ .Params.external }}">
    {{ end }}

    <script>
        (function () {
            try {
                var t = localStorage.getItem('irccTheme') || 'gruvbox-dark';
                document.documentElement.dataset.theme = t;
            } catch (e) {
                document.documentElement.dataset.theme = 'gruvbox-dark';
            }
        })();
    </script>
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>

<body>